body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

li.tweet {
  border: 1px gray solid;
}

li {
  list-style: none;
}